/* Respetando la estética de SINISTER */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #000; /* Fondo negro de tu marca */
  color: #fff;
}

/* Para que el Main tenga el mismo aire que en el HTML */
.mainIndex {
  min-height: 80vh;
  padding: 20px;
}